[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Sergey1171
	email = Sergey1171@gmail.com
[core]
	autocrlf = true
	safecrlf = warn
	quotepath = off
	longpaths = true
[gui]
	recentrepo = C:/Users/Z156/Downloads/git_tutorial/git_tutorial/work/hello.html/hello
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = 'cat-file
	dump = 'cat-file
	type = 'cat-file
	dump = 'cat-file
